<div class="norma-footer-menu-wrapper">
	<div style="margin: 0 auto; display: table;" class="norma-footer-menu">
		<koken:navigation group="footer" />
	</div>
</div>
<norma-footer>
	<norma-footer-inside>
		<koken:not empty="settings.address_avatar_img">
			<koken:if data="settings.address_contact_page_id" equals="">
<!-- We dont have a page id for the contact page -->
				<a href="#" class="norma-circle norma-left"  title="{{ settings.address_name_prefix }} {{ settings.address_name }}">
					<img height="32" width="32" src="{{ settings.address_avatar_img }}" alt="{{ settings.address_name }}">
				</a>
			<koken:else>
<!-- We got the page id -->
				<koken:link to="page" filter:id="{{ settings.address_contact_page_id }}" class="norma-circle norma-left"  title="{{ settings.address_name_prefix }} {{ settings.address_name }}">
					<img height="32" width="32" src="{{ settings.address_avatar_img }}" alt="{{ settings.address_name }}">
				</koken:link>
			</koken:if>
		</koken:not>
		<div class="norma-tagline norma-left">
		<koken:if data="settings.address_contact_page_id" equals="">
<!-- We dont have a page id for the contact page -->
			{{ settings.address_name_prefix }} {{ settings.address_name }}<br />
			{{ settings.address_street_info }}<br />
			{{ settings.address_postal_code }} 
			{{ settings.address_city_info }}, 
			{{ settings.address_country_info }}
		<koken:else>
<!-- We got the page id -->
		<koken:link to="page" filter:id="{{ settings.address_contact_page_id }}" class="norma-tag-copy-link"  title="{{ settings.address_name_prefix }} {{ settings.address_name }}">
			{{ settings.address_name_prefix }} {{ settings.address_name }}<br />
			{{ settings.address_street_info }}<br />
			{{ settings.address_postal_code }} 
			{{ settings.address_city_info }}, 
			{{ settings.address_country_info }}
			</koken:link>
		</koken:if>

		</div>
		<div class="norma-social norma-left">
			<div class="norma-col-1 norma-left">
				<koken:profile_facebook>
					<koken:if true="settings.social_facebook_link">
					<a href="{{ profile.facebook }}" title="Följ mig på Facebook">
						<koken:asset file="inc/components/img/icons/facebook-7-64.png" alt="Facebook" width="32" height="32" align="absmiddle" label="Facebook" />
						<span class="norma-social-label">Facebook</span>
					</a>
					<br />
					</koken:if>
				</koken:profile_facebook>
				<koken:not empty="settings.social_instagram_link">
				<a href="https://instagram.com/{{ settings.social_instagram_link }}/" title="Följ mig på Instagram">
					<koken:asset file="inc/components/img/icons/instagram-4-64.png" alt="Instagram" width="32" height="32" align="absmiddle" />
					<span class="norma-social-label">Instagram</span>
				</a>
				</koken:not>
			</div>
			<div class="norma-col-2 norma-left">
				<koken:not empty="profile.google_plus">
					<koken:if true="settings.social_googleplus_link">
					<a href="{{ profile.google_plus }}" title="Följ mig på Google+">
						<koken:asset file="inc/components/img/icons/google-plus-4-64.png" alt="gPlus" width="32" height="32" align="absmiddle" />
						<span class="norma-social-label">google+</span>
					</a>
					<br />
					</koken:if>
				</koken:not>
				<koken:not empty="settings.social_fivepx_link">
				<a href="http://www.500px.com/{{ settings.social_fivepx_link }}" title="Följ mig på 500px">
					<koken:asset file="inc/components/img/icons/500px-4-64.png" alt="500px" width="32" height="32" align="absmiddle" />
					<span class="norma-social-label">500px</span>
				</a>
				</koken:not>
			</div>
			<div class="norma-col-3 norma-left">
				<koken:profile_twitter>
					<koken:if true="settings.social_twitter_link">
					<a href="https://twitter.com/{{ profile.twitter }}" title="Följ mig på Twitter">
						<koken:asset file="inc/components/img/icons/twitter-4-64.png" alt="Twitter" width="32" height="32" align="absmiddle" />
						<span class="norma-social-label">Twitter</span>
					</a>
					<br />
					</koken:if>
				</koken:profile_twitter>
			<koken:not empty="settings.social_pinterest_link">
				<a href="https://www.pinterest.com/{{settings.social_pinterest_link }}/" title="Följ mig på Pinterest">
					<koken:asset file="inc/components/img/icons/pinterest-4-64.png" alt="Pinterest" width="32" height="32" align="absmiddle" />
					<span class="norma-social-label">Pinterest</span>
				</a>
			</koken:not>
			</div>
			<div class="norma-col-4 norma-left">
			<koken:if true="settings.social_rss_essays_link">
				<a href="{{ rss.essays }}" title="Följ mitt artikelflöde">
					<koken:asset file="inc/components/img/icons/rss-4-64.png" alt="RSS Artiklar" width="32" height="32" align="absmiddle" />
					<span class="norma-social-label">RSS Artiklar</span>
				</a>
			<br  />
			</koken:if>
			<koken:if true="settings.social_rss_contents_link">
				<a href="{{ rss.contents }}" title="Mina senast upplagda bilder">
					<koken:asset file="inc/components/img/icons/rss-4-64.png" alt="RSS Bilder" width="32" height="32" align="absmiddle" />
					<span class="norma-social-label">RSS bilder</span>
				</a>
				</koken:if>
			</div>
		</div>
		<div class="norma-copyright norma-right">
			<koken:if data="settings.address_copyright_page_id" equals="">
<!-- We dont have a page id for copyright info -->
				{{ site.copyright }}
			<koken:else>
<!-- We got the page id -->
				<koken:link to="page" filter:id="{{ settings.address_copyright_page_id }}" title="{{ site.copyright }}" class="norma-tag-copy-link">{{ site.copyright }}</koken:link>
			</koken:if>
		</div>
	</norma-footer-inside>
</norma-footer>
</body>
</html>